.normal {
	font-weight: normal;
}
.strong {
	font-weight: bold;
}

.description {
	display: flex;
	flex-direction: row;
	margin-top: 0.3em;

	.shift-right {
		margin: 1em 1em 1em auto;
	}

	.font-code {
		font-family: Consolas, monaco, monospace;
		font-size: 1em;
	}
}
